body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="email"],
input[type="password"] {
    width: calc(100% - 40px); /* Adjusted width to accommodate the eye icon */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.toggle-password {
    cursor: pointer;
    float: right;
    margin-top: -30px;
    margin-right: 5px;
    font-size: 16px; /* Increased font size for better visibility */
    color: #666;
}

button[type="submit"],
#back-button {
    width: 100%;
    padding: 10px;
    background-color: #512da8;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

button[type="submit"]:hover,
#back-button:hover {
    background-color: #0056b3; /* Darker shade for hover effect */
}

#message {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}
